.category-card {
    text-align: center;
    
  }
  
.category-image-container {
    position: relative; /* устанавливаем относительное позиционирование */
    width: 100%; /* задаем размер контейнера для изображения */
    height: 100%; /* задаем размер контейнера для изображения */
    margin: 0 auto; /* центрируем контейнер */
} 
  
.category-image {
    width: 100%; /* растягиваем изображение на всю ширину контейнера */
    height: auto; /* автоматически рассчитываем высоту */
    display: block;
}
  
.category-caption {
    display: block;
    width: 100%; /* ширина текста равна ширине родительского контейнера */
    color: black; /* цвет текста белый */
    padding: 5px; /* добавляем небольшие отступы вокруг текста */
    margin: 0; /* убираем внешние отступы */
    text-align: center; /* выравниваем текст по центру */
}
  