.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.login-container {
    display: flex;
}

.login-left {
    background: #551A8B;
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left img {
    max-width: 80%;
    height: auto;
}

.login-right {
    padding: 20px 30px;
    width: calc(100% - 150px);
}

h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    vertical-align: middle;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options a {
    color: #551A8B;
}

.options input {
    margin-left: 15px;
}

.login-form .login-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-form .login-button:hover {
    background-color: #333;
}

.login-form .register-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #551A8B;
    text-decoration: none;
}