.HeaderMain{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.con1{
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width: 500px;
    height: 200px;
    align-content: space-between;
  }

.bnt{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.background2{
    background-color: #e6fef7;
}

.reviews-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.reviews::before {
    display: flex;
    align-self: center;
    content: '<';
}
.reviews-container::after {
    display: flex;
    align-self: center;
    content: '>';
}

.reviews {
    width: 99vw;
    white-space: wrap;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    border: none;
}

.review {
    display: inline-block;
    width: 450px; /* Ширина блока отзыва */
    padding: 10%;
    max-width: 100%; /* Устанавливаем максимальную ширину для текста */
    overflow: hidden; /* Обрезаем текст, который выходит за пределы */
}
